#root {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column; /* Ensure children stack vertically */
    justify-content: center; /* Align children vertically in the center */
    align-items: center; /* Align children horizontally in the center */
    padding: 0;
    margin: 0;
}


tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-fluid {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    height: 50%;
}

.col-xl-6,
.col-lg-6,
.col-md-6,
.col-sm-12 {
    width: 100%;
    height: 100%;
}

.row-padding {
    padding-top: 45px; 
}

.left-drawer {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the column takes the full height */
    width: 100%;
    background-color: #020D68;
    color: #F0F0F0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.watchlist-container,
.logging-container,
.alert-container {
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden; /* Hide overflow for the components */
}

.watchlist-container {
    flex: 1; /* Take 33% of the height */
    max-height: 33%; /* Ensure it doesn't take more than 33% */
    overflow-y: auto; /* Enable vertical scrolling if necessary */
}

.logging-container {
    flex: 1; /* Take 50% of the height */
    max-height: 50%; /* Ensure it doesn't take more than 50% */
    display: flex;
    align-items: center; /* Center the LoggingComponent vertically */
}

.alert-container {
    flex: 1; /* Take 25% of the height */
    max-height: 25%; /* Ensure it doesn't take more than 25% */
}

/* Cards on the Right */
.main-screen {
    background-color: #F0F0F0; /* Light Gray */
    color: #1E3A8A; /* Dark Blue */
}